* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Comic Neue', cursive;
}

body {
    background: #0f172a;
    color: #e2e8f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: fit-content;
}

.container {
    background: #020617;
    padding: 30px;
    margin: 10px 0 10px 0;
    border-radius: 15px;
    width: 401px;
}
@media (max-width: 400px) {
    .container {
    background: #020617;
    padding: 30px;
    margin: 10px 0 10px 0;
    border-radius: 15px;
    width: 95%;
}
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #22c55e;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #94a3b8;
}

input, select, textarea {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 8px;
    background: #0f172a;
    color: #e2e8f0;
    outline: none;
    border: 1px solid #1e293b;
    transition: 0.3s;
}

.form-row {
    display: flex;
    gap: 10px;
}

button {
    width: 100%;
    padding: 12px;
    margin-bottom: 10px;
    background: linear-gradient(135deg, #22c55e, #38bdf8);
    border: none;
    border-radius: 10px;
    color: #020617;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    transform: scale(1.05);
}

textarea {
    resize: none;
    height: 80px;
}